<%= link_to 'Back to admin panel', admins_path %>
<h1>Categories</h1>
<ul>
  <% @categories.each do |category| %>
    <li><%= link_to category.name, admins_category_path(category) %></li>
  <% end %>
</ul>
<%== pagy_nav(@pagy) %> <br>
<%= link_to 'Add new category', new_admins_category_path %>